*{
	background-color: blueviolet;
	color:  #abccff;
	box-sizing: border-box;
	padding: 0%;
	margin: 0%;
	
}

 /* below code style for box model */
.box{
	background-color: beige;
	width: 300px;
	height: 300px;
	padding: 40px;
	border: 25px solid #000;
	margin: 15px;
}
/* 
style for flex boxes */
.container{
    height: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #fff;
	column-gap: 4%;
    row-gap: 16px;
	padding: 15px 0px;
}

.one{
	width:15%;
	height: 150px;
	background-color: black;

}
p{
	font-size: 15px;
}
.para{
	height: 400px;
	background-color: aqua;
	display: flex;
	justify-content: center;
	align-items: center;
	
}
h1{
	text-align: end;
}
.aa{
  order: 24;
}
.bb{

order: 15;
}
.cc{
order: 11;
}
.dd{
order: 1;
}
.ee{
order: 2;
}


/* style for forms */


.form{
	background-color: black;
	width: 100%;
	height: 400px ;
	display: flex;
	align-items: center;
	justify-content: center;
}
.input{
	background-color: #fff;
	width: 300px;
	height: 300px;
	border-radius: 5px;
	padding: 15px;
	color: #000;
	font-size: 20px;
}

