*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.product{
    width: 45%;
    height: 300px;
    
}
.products{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 10%;
    row-gap: 150px;
            
}
h2{
   text-align: center;
   font-size: 40px;
}
.product_img{
    width: 100%;
    border-radius: 20px;
}

.container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 5%;
}
h1{
    color: red;
}

@media  (max-width:576px) {

  h1{
    display: none;
  }
  .product{
    width:95% ;
    
  }
  .products{
    row-gap: 10px;
  }
  

}