*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    height: 100vh;
    background:linear-gradient(90deg, lightpink, rgba(120,10,5,0.8)) ;
    display: flex;
    align-items: center;
    justify-content: center;
}
.formContainer{
    width: 500px;
    height: 300px;
    background: linear-gradient(90deg, lightpink, red);
    border-radius: 5px;
    padding: 20px 50px;
    font-family: sans-serif;
    line-height: 30px;
    font-weight: 500;
    box-shadow: 2px 2px 2px #000 ;
}
.formContainer h2{
    text-align: center;
    font-size: 35px;
}
input{
    padding: 8px;
    width: 200;
    border-radius: 5px;
    border: none;
}
.signUp{
    margin-top: 30px;
}
.signUp b:hover{
    cursor: pointer;
    color: #123;
    font-size: 18px;
}
.btn{
    margin: 10px 70px;
    padding: 5px 15px ;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
    background-color: #123;
    color: #fff;
}
.btn:hover{
    background-color: lightpink;
    padding: 8px 18px;
    /* box-shadow: 2px 2px 1px #fff; */
    color: #123;
    
}
.fa-solid{
    margin-right: 5px;
    font-size: 15px;
}